<?xml version="1.0" encoding="UTF-8"?>
<!--
  WiX 3 fragment: main product. ComponentGroup "AppFiles" is produced by heat.exe
  harvesting the PyInstaller onedir (see workflow).
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="HLS NDI Player"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="HLS NDI Player"
    UpgradeCode="d6e7f8a9-2b3c-4d5e-8f90-1a2b3c4d5e6f">
    <Package
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="x64"
      Description="GTK + GStreamer HLS to NDI player" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="HLS NDI Player" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="HLS NDI Player" />
      </Directory>
    </Directory>

    <Component
      Id="ApplicationShortcut"
      Directory="ApplicationProgramsFolder"
      Guid="8c4e2f1a-9b3d-4e5f-a1c2-3d4e5f607890">
      <Shortcut
        Id="ApplicationStartMenuShortcut"
        Name="HLS NDI Player"
        Description="GTK + GStreamer HLS to NDI player"
        Target="[INSTALLFOLDER]HLS_NDI_Player.exe"
        WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="CleanUpApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue
        Root="HKLM"
        Key="Software\HLS NDI Player"
        Name="StartMenuShortcut"
        Type="integer"
        Value="1"
        KeyPath="yes" />
    </Component>

    <Feature Id="MainFeature" Title="HLS NDI Player" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Product>
</Wix>
